.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.description {
  text-align: left;
  padding: var(--lengthMd2);
  transition: all 1s;
  transform: translate(0em, 0px);
  animation: easing;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes easing {
  from {
    transform: translate(-2.5em, 0px);
  }
  to {
    transform: translate(0em, 0px);
  }
}

.description h3 {
  font-size: var(--lengthLg3);
  margin:var(--lengthSm1) 0;
}

.description p {
  font-size: var(--lengthMd3);
}

.App-header .img-tab {
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width:50em) {
  .App-header .img-tab {
    display: block;
  }
}